.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* LOGIN */

.login-container,
.signup-container,
.dashboard {
  width: 30rem;
  height: 24rem;
  margin: auto;
  margin-top: 10%;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

h1 {
  text-align: center;
  margin-top: 20px;
  margin-bottom: 40px;
}

label {
  display: block;
  margin-bottom: 5px;
  margin-left: 15%;
}

button {
  background-color: #4caf50;
  color: #fff;
  padding: 15px 25px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 5%;
  margin-left: 35%;
  font-size: 1rem;
}

button:hover {
  background-color: #3e8e41;
}

.register-link {
  margin-top: 5%;
  margin-left: 18%;
}

/*END LOGIN*/

/* SIGNUP */

.signup-container {
  height: auto;
}

input[type="text"],
input[type="email"],
input[type="number"],
input[type="password"] {
  width: 60%;
  padding: 10px;
  margin-bottom: 20px;
  margin-left: 15%;
  border: 1px solid #ccc;
  border-radius: 5px;
}

/*END SIGNUP*/

/* DASHBOARD */

.dashboard {
  width: 60rem;
  height: 36rem;
  margin: auto;
  margin-top: 10%;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.bold-sub-title {
  font-size: large;
  font-weight: bold;
  padding-right: 10px;
}

.content-container {
  margin-left: 15%;
}

.content-container > button {
  background-color: #4caf50;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-left: 10%;
}

.content-container > button:hover {
  background-color: #3e8e41;
}

.table-container {
  margin-left: 8rem;
  margin-top: 10px;
}

table,
th,
td {
  border: 1px solid black;
}

/* END DASHBOARD */
